@model PaginatedList<Organizaciebis_Cnobari.Models.Person>

@{
    ViewData["Title"] = "ფიზიკურ პირთა სია";
}
<div class="text-center">
    <h1 class="display-4">ფიზიკურ პირთა სია</h1>
</div>
<div class="mb-4">
    <a asp-controller="Person" asp-action="AddNewPerson" class="btn btn-success">ფიზიკური პირის დამატება</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("სახელი")
            </th>
            <th>
                @Html.DisplayName("გვარი")
            </th>
            <th>
                @Html.DisplayName("პირადი ნომერი")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalID)
                </td>
                <td>
                    <a asp-controller="Person" asp-action="EditPerson" asp-route-id="@item.Id" asp-route-Name="@item.Name" asp-route-LastName="@item.LastName" asp-route-Gender="@item.Gender"
                       asp-route-PersonalId="@item.PersonalID" asp-route-BirthDay="@item.BirthDay" asp-route-City="@item.City" asp-route-TelephoneNumbers="@item.TelephoneNumbers" class="btn btn-success">მომხმარებლის რედაქტირება</a>
                    <a asp-controller="Person" asp-action="PersonDetails" asp-route-id="@item.Id" asp-route-Name="@item.Name" asp-route-LastName="@item.LastName" asp-route-Gender="@item.Gender"
                       asp-route-PersonalId="@item.PersonalID" asp-route-BirthDay="@item.BirthDay" asp-route-City="@item.City" asp-route-TelephoneNumbers="@item.TelephoneNumbers" class="btn btn-success">მომხმარებლის დეტალური დათვალიერება</a>
                    <a asp-controller="Person" asp-action="DeletePerson" asp-route-id="@item.Id" asp-route-Name="@item.Name" asp-route-LastName="@item.LastName" asp-route-Gender="@item.Gender"
                       asp-route-PersonalId="@item.PersonalID" asp-route-BirthDay="@item.BirthDay" asp-route-City="@item.City" asp-route-TelephoneNumbers="@item.TelephoneNumbers" class="btn btn-success">მომხმარებლის წაშლა</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="PersonIndex" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">წინა</a>
<a asp-action="PersonIndex" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">შემდეგი</a>