@model IEnumerable<Organizaciebis_Cnobari.Entities.Person>

@{
    ViewData["Title"] = "ფიზიკურ პირთა სია";
}
<div class="text-center">
    <h1 class="display-4">ფიზიკურ პირთა სია</h1>
</div>
<div class="mb-4">
    <a asp-controller="Person" asp-action="AddNewPerson" class="btn btn-success">ფიზიკური პირის დამატება</a>
</div>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayName("სახელი")
            </th>
            <th>
                @Html.DisplayName("გვარი")
            </th>
            <th>
                @Html.DisplayName("პირადი ნომერი")
            </th>                                   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalID)
                </td>                
                <td>
                    <a asp-action="PersonEdit" asp-controller="Person" asp-route-id="@item.Id" asp-route-PersonalId="@item.PersonalID" class="btn btn-success">მომხმარებლის რედაქტირება</a>
                    <a asp-action="PersonDetail" asp-controller="Person" asp-route-id="@item.Id" asp-route-PersonalId="@item.PersonalID" class="btn btn-success">მომხმარებლის დეტალური დათვალიერება</a>
                    <a asp-action="PersonDelete" asp-controller="Person" asp-route-id="@item.Id" asp-route-PersonalId="@item.PersonalID" class="btn btn-success">მომხმარებლის წაშლა</a>
                </td>
            </tr>
        }
    </tbody>
</table>
