@model PaginatedList<Organizaciebis_Cnobari.Entities.Organization>

@{
    ViewData["Title"] = "ორგანიზაციების სია";
}
<div class="text-center">
    <h1 class="display-4">ორგანიზაციების სია</h1>
</div>
<div class="mb-4">
    <a asp-controller="Organization" asp-action="AddNewOrganization" class="btn btn-success">ორგანიზაციის დამატება</a>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("სახელი")
            </th>
            <th>
                @Html.DisplayName("მისამართი")
            </th>
            <th>
                @Html.DisplayName("საქმიანობა")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>
                <td>
                    <a asp-controller="Organization" asp-action="EditOrganization" asp-route-id="@item.Id" asp-route-Name="@item.Name" asp-route-Address="@item.Address" asp-route-Activity="@item.Activity" class="btn btn-success">ორგანიზაციის რედაქტირება</a>
                    <a asp-controller="Organization" asp-action="DeleteOrganization" asp-route-id="@item.Id" asp-route-Name="@item.Name" asp-route-Address="@item.Address" asp-route-Activity="@item.Activity" class="btn btn-success">ორგანიზაციის წაშლა</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="OrganizationIndex" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">წინა</a>
<a asp-action="OrganizationIndex" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">შემდეგი</a>

